ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.8.3"
    hooks:
      # Run the linter and absolufy-imports.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/kynan/nbstripout
    rev: 0.5.0
    hooks:
      - id: nbstripout
        args: ["--extra-keys", "metadata.colab metadata.vscode cell.metadata.colab cell.metadata.executionInfo cell.metadata.id cell.metadata.outputId", "--strip-empty-cells"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
    - id: codespell
      files: ^.*\.(py|md|rst|ipynb)$
      args: ["-w"]
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.3.1
    hooks:
      - id: nbqa-black
        args: ['--line-length=120']
      - id: nbqa-flake8
        args: ['--ignore=E203,E402,W503', '--max-line-length=120']
          #- id: nbqa-isort
          #args: ['-m3', '--tc']
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v0.9.1 
    hooks:
      - id: zizmor

exclude: ^ecoscope/contrib/
