name: ecoscope
channels:
  - conda-forge
dependencies:
  - python==3.10.12 # Fixed to mirror version on Google Colab
  - pip
  - git
  - jupyterlab
  - geopandas<=0.14.2
  - numpy<2
  - ipywidgets
  - pip:
      - kaleido
      - pre-commit>=3
      - coverage[toml]
      - earthranger-client @ git+https://github.com/PADAS/er-client@v1.2.3
      - ecoscope
      - lonboard @ git+https://github.com/wildlife-dynamics/lonboard@43f3e6bc490238c31a8c4e3eb70566527f483bd0
      - nbsphinx
      - sphinx-autoapi
      - dask[dataframe]
      - fsspec
      - pytest-asyncio
