name: ecoscope
channels:
  - conda-forge
dependencies:
  - python==3.10.12 # Fixed to mirror version on Google Colab
  - pandera
  - pip
  - git
  - jupyterlab
  - geopandas<=0.14.2
  - beautifulsoup4
  - pip:
      - kaleido
      - pre-commit>=3
      - coverage[toml]
      - ecoscope
      - nbsphinx
      - nbsphinx-multilink
      - sphinx-autoapi
      - dask[dataframe]
      - fsspec
