name: ecoscope
channels:
  - conda-forge
dependencies:
  - python==3.10.12 # Fixed to mirror version on Google Colab
  - pip
  - git
  - jupyterlab
  - geopandas>1
  - numpy<2.1
  - ipywidgets
  - pip:
      - kaleido==0.2.1
      - pre-commit>=3
      - coverage[toml]
      - earthranger-client@ git+https://github.com/PADAS/er-client@v1.3.3
      - ecoscope
      - lonboard @ git+https://github.com/wildlife-dynamics/lonboard@v0.0.7
      - mypy
      - nbsphinx
      - sphinx-autoapi
      - dask[dataframe]
      - fsspec
