name: ecoscope
channels:
  - conda-forge
dependencies:
  - python==3.7.12 # Fixed to mirror version on Google Colab
  - pip==22.3
  - git==2.38.1
  - affine==2.3.1
  - astroplan==0.8
  - astropy==4.3.1
  - backoff==2.2.1
  - branca==0.5.0
  - earthengine-api==0.1.328
  - geopandas==0.10.2
  - ipywidgets==8.0.2
  - jinja2==3.1.2
  - jupyterlab==3.5.0
  - mapclassify==2.4.3
  - matplotlib-base==3.5.3
  - networkx==2.7.1
  - numba==0.56.3
  - numexpr==2.8.3
  - numpy==1.21.6
  - pandas==1.3.5
  - plotly==5.10.0
  - pre-commit==2.20.0
  - pyarrow==9.0.0
  - pydata-sphinx-theme==0.11.0
  - pygeos==0.12.0
  - pypdf2==2.10.8
  - pyproj==3.2.1
  - pytest-cov==4.0.0
  - pytest-mock==3.10.0
  - pytest==7.2.0
  - python-igraph==0.10.1
  - python-kaleido==0.2.1
  - rasterio==1.2.10
  - scikit-image==0.19.2
  - scikit-learn==1.0.2
  - scipy==1.7.3
  - selenium==4.5.0
  - shapely==1.8.2
  - sphinx==5.3.0
  - tqdm==4.64.1
  - xyzservices==2022.9.0
  - pip:
    - coverage[toml]
    - nbsphinx
    - nbsphinx-multilink
    - sphinx-autoapi
