name: Test IO

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]

jobs:
  dev:
    if: github.event.pull_request.user.login != 'dependabot[bot]'
    uses: ./.github/workflows/tests.yml
    with:
      io: "io"
      os: "ubuntu-latest"
    secrets: inherit