name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "*" ]

jobs:
  Test:
    name: ${{ matrix.os }}, ${{ matrix.env }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -leo pipefail {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        env: [environment.yml]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@v2.0.2
        with:
          environment-file: ${{ matrix.env }}
          cache-environment: true
          cache-downloads: true
          init-shell: bash powershell

      - name: Install pip dependencies and our package
        shell: bash -leo pipefail {0}
        run: |
          python -m pip install ".[all]"

      - name: Test
        env:
          ER_USERNAME: ${{ secrets.ER_USERNAME }}
          ER_PASSWORD: ${{ secrets.ER_PASSWORD }}
          EE_ACCOUNT: ${{ secrets.EE_ACCOUNT }}
          EE_PRIVATE_KEY_DATA: ${{ secrets.EE_PRIVATE_KEY_DATA }}
        run: |
          pytest -v -r s --color=yes --cov=ecoscope --cov-append --cov-report=xml
      
      - name: Codecov
        uses: codecov/codecov-action@v4
