name: mypy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]
    
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.actor }}
  cancel-in-progress: true
    
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install ecoscope
        run: |
          python -m ensurepip --upgrade  
          python -m pip install ".[analysis,mapping,plotting]" --group mypy
      - name: Mypy
        run: |
          mypy ecoscope