name: Tests

on:
  workflow_call:
    inputs:
      io:
        type: string
        required: true
      os:
        type: string
        required: true
      python-version:    
        type: string
        default: "3.12"

jobs:
  Test:
    name: ${{ inputs.os }}, ${{ inputs.io }}
    runs-on: ${{ inputs.os }}
    defaults:
      run:
        shell: bash -leo pipefail {0}
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install our package
        run: |
          python -m ensurepip --upgrade
          python -m pip install ".[analysis,mapping,plotting]" --group test

      - name: Test
        env:
          ER_USERNAME: ${{ secrets.ER_USERNAME }}
          ER_PASSWORD: ${{ secrets.ER_PASSWORD }}
          EE_ACCOUNT: ${{ secrets.EE_ACCOUNT }}
          EE_PRIVATE_KEY_DATA: ${{ secrets.EE_PRIVATE_KEY_DATA }}
          SMART_USERNAME: ${{ secrets.SMART_USERNAME }}
          SMART_PASSWORD: ${{ secrets.SMART_PASSWORD }}
        run: |
          pytest -v -r s -m "${{ inputs.io }}" --color=yes --cov=ecoscope --cov-append --cov-report=xml
      
      - name: Codecov
        uses: codecov/codecov-action@v5
